<h1>Edit Trainer</h1>

<form action="/trainers/<%= @trainer.id %>" method="PATCH">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="trainer[name]" value="<%= @trainer.name %>" placeholder="name">
  <input type="text" name="trainer[bio]" value="<%= @trainer.bio %>" placeholder="bio">
  <input type="number" name="trainer[age]" value="<%= @trainer.age %>" placeholder="age">
  <input type="submit">
</form>