<div class="container">
  <h1>New UserItem</h1>

  <%= form_for @user_item do |f| %> 
    <%= f.label :item_id %>
    <%= f.collection_select :item_id, @items, :id, :name %>

    <%= f.submit %>
  <% end %>
</div>

