<h1>Items Index Page</h1>

<div class="index-container">
  <% @items.each do |item| %>
    <div class="index-tile">
      <h3><%=link_to item.name, item_path(item.id) %></h3>
      <img class="index-img" src="<%= item.img_url %>" alt="<%= item.name%>">
    </div>
  <% end %>
</div>